body {
    font-family: Helvetica, Arial, sans-serif;
}

div {
    position: relative;
    width: 100%;
    display: grid;
    place-content: center;
    /*   height: 100vh; */
}

.item-nav {
    /* border: 1px solid; */
    width: max(50px, 4vw);
    height: max(50px, 3.5vw);
    position: absolute;
    cursor: pointer;
    z-index: 9;
}
#item1 {
    top: calc(105px + 70 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}
#item2 {
    top: calc(185px + 130 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}
#item3 {
    top: calc(260px + 180 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}

#item4 {
    top: calc(335px + 220 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}
#item5 {
    top: calc(410px + 260 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}
#item6 {
    bottom: calc(30px + 20 * ((100vw - 1920px) / 1280));
    left: calc(5px + 5 * ((100vw - 1920px) / 1280));
}

#item1:hover ~ .bnv,
#item2:hover ~ .bnv,
#item3:hover ~ .bnv,
#item4:hover ~ .bnv,
#item5:hover ~ .bnv,
#item6:hover ~ .bnv,
.bnv {
    display: none;
}

#item1:hover ~ #bnv-1,
#item2:hover ~ #bnv-2,
#item3:hover ~ #bnv-3,
#item4:hover ~ #bnv-4,
#item5:hover ~ #bnv-5,
#item6:hover ~ #bnv-6,
.login-asesor #img-home-asesor,
.bienvenida #bnv-1,
.inicio #bnv-1,
.abono1 #bnv-2,
.prestamo #bnv-3,
.seguros #bnv-4,
.abono-cobranza-1 #bnv-2,
.abono-c4 #bnv-2 {
    display: block;
}

.boton-falso {
    /* border: 1px solid red; */
    width: max(300px, 24vw);
    height: max(50px, 3.5vw);
    position: absolute;
    cursor: pointer;
    z-index: 9;
}

.abono-cliente-4 #boton-c1 {
    left: calc(420px + 660 * ((100vw - 1920px) / 1280));
    bottom: calc(115px - 10 * ((100vw - 1920px) / 1280));
    height: max(80px, 5vw);
    width: max(270px, 13vw);
}
.abono-cliente-4 #boton-c2 {
    left: calc(700px + 640 * ((100vw - 1920px) / 1280));
    bottom: calc(115px - 10 * ((100vw - 1920px) / 1280));
    height: max(80px, 5vw);
    width: max(270px, 13vw);
}

.abono-c4 #boton-falso4 {
    right: calc(10px - 10 * ((100vw - 1920px) / 1280));
    bottom: calc(135px + 90 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}
.abono-c4 #boton-falso4:hover ~ #bnv-hover1 {
    display: block;
}
.abono-c4 #boton-falso4:hover ~ #bnv-2 {
    display: none;
}

.abono-c4 #boton-falso4-2 {
    right: calc(10px - 10 * ((100vw - 1920px) / 1280));
    bottom: calc(20px + 10 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.abono-c4 #boton-falso4-2:hover ~ #bnv-hover2 {
    display: block;
}
.abono-c4 #boton-falso4-2:hover ~ #bnv-2 {
    display: none;
}

.login-asesor #boton-login {
    right: calc(280px + 130 * ((100vw - 1920px) / 1280));
    bottom: calc(215px + 140 * ((100vw - 1920px) / 1280));
}

.login-asesor #boton-login:hover ~ #img-home-asesor2 {
    display: block;
}
.login-asesor #boton-login:hover ~ #img-home-asesor {
    display: none;
}

.bienvenida #boton-falso1 {
    right: calc(15px + 20 * ((100vw - 1920px) / 1280));
    bottom: calc(205px + 140 * ((100vw - 1920px) / 1280));
}

.bienvenida #boton-falso1:hover ~ #bnv-hover {
    display: block;
}
.bienvenida #boton-falso1:hover ~ #bnv-1 {
    display: none;
}

#boton-falso4 {
    right: calc(30px + 40 * ((100vw - 1920px) / 1280));
    bottom: calc(174px + 110 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

#boton-falso4-2 {
    right: calc(28px + 40 * ((100vw - 1920px) / 1280));
    bottom: calc(67px + 50 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.abono1 #boton-falso1 {
    right: calc(28px + 40 * ((100vw - 1920px) / 1280));
    bottom: calc(24px + 47 * ((100vw - 1920px) / 1280));
}

.card-falso {
    /* border: 1px solid; */
    width: max(300px, 60vw);
    height: max(410px, 31vw);
    position: absolute;
    cursor: pointer;
    z-index: 9;
    left: calc(110px + 20 * ((100vw - 1920px) / 1280));
    top: calc(400px + 260 * ((100vw - 1920px) / 1280));
}

.card-falso:hover ~ #bnv-hover {
    display: block;
}
.card-falso:hover ~ #bnv-2 {
    display: none;
}

.abono1 #boton-falso1:hover ~ #bnv-hover {
    display: block;
}
.abono1 #boton-falso1:hover ~ #bnv-2 {
    display: none;
}

.abono1 #boton-falso4:hover ~ #bnv-hover1 {
    display: block;
}
.abono1 #boton-falso4:hover ~ #bnv-2 {
    display: none;
}
.abono1 #boton-falso4-2:hover ~ #bnv-hover2 {
    display: block;
}
.abono1 #boton-falso4-2:hover ~ #bnv-2 {
    display: none;
}

#boton-ac1 {
    right: calc(430px + 640 * ((100vw - 1920px) / 1280));
    top: calc(285px + 0 * ((100vw - 1920px) / 1280));
    width: max(250px, 13vw);
    height: max(50px, 2.5vw);
}

.abono-asesor-3 #boton-c1 {
    left: calc(400px + 600 * ((100vw - 1920px) / 1280));
    bottom: calc(40px + 10 * ((100vw - 1920px) / 1280));
    width: max(310px, 18vw);
    height: max(70px, 2.5vw);
}

.abono-cobranza-1 #boton-modal3 {
    right: calc(410px + 290 * ((100vw - 1920px) / 1280));
    top: calc(220px + 150 * ((100vw - 1920px) / 1280));
    width: max(90px, 4vw);
    height: max(30px, 2.5vw);
}

.abono-cobranza-1 #boton-c2 {
    right: calc(50px + 50 * ((100vw - 1920px) / 1280));
    bottom: calc(30px + 20 * ((100vw - 1920px) / 1280));
    width: max(270px, 20vw);
    height: max(30px, 2.5vw);
}

.abono-cobranza-1 #boton-c2:hover ~ #bnv-hover1 {
    display: block;
}
.abono-cobranza-1 #boton-c2:hover ~ #bnv-2 {
    display: none;
}

.abono1 #boton-n1 {
    right: calc(50px + 50 * ((100vw - 1920px) / 1280));
    top: calc(253px + 170 * ((100vw - 1920px) / 1280));
    width: max(270px, 20vw);
    height: max(30px, 2.5vw);
}

.abono-cliente-1 #boton-modal1 {
    right: calc(810px + 640 * ((100vw - 1920px) / 1280));
    bottom: calc(143px - 16 * ((100vw - 1920px) / 1280));
    width: max(280px, 15vw);
    height: max(40px, 2.5vw);
}

.abono-cliente-1 #boton-ac2 {
    right: calc(550px + 640 * ((100vw - 1920px) / 1280));
    top: calc(130px - 20 * ((100vw - 1920px) / 1280));
    width: max(90px, 4vw);
    height: max(30px, 2.5vw);
}

.abono1 #boton-n2 {
    right: calc(50px + 50 * ((100vw - 1920px) / 1280));
    top: calc(313px + 210 * ((100vw - 1920px) / 1280));
    width: max(270px, 20vw);
    height: max(30px, 2.5vw);
}

.abono-cobranza-1 #boton-modal1 {
    left: calc(520px + 370 * ((100vw - 1920px) / 1280));
    bottom: calc(233px + 180 * ((100vw - 1920px) / 1280));
    width: max(270px, 20vw);
    height: max(60px, 2.5vw);
}

.abono-cobranza-1 #boton-modal2 {
    right: calc(540px + 370 * ((100vw - 1920px) / 1280));
    bottom: calc(233px + 180 * ((100vw - 1920px) / 1280));
    width: max(270px, 20vw);
    height: max(60px, 2.5vw);
}

.prestamo #boton-falso-prestamo {
    width: max(300px, 29vw);
    left: calc(695px + 470 * ((100vw - 1920px) / 1280));
    top: calc(425px + 290 * ((100vw - 1920px) / 1280));
}

.prestamo #boton-falso-prestamo:hover ~ #bnv-hover1 {
    display: block;
}
.prestamo #boton-falso-prestamo:hover ~ #bnv-3 {
    display: none;
}
.prestamo #boton-falso-prestamo2 {
    width: max(300px, 29vw);
    left: calc(152px + 100 * ((100vw - 1920px) / 1280));
    bottom: calc(25px + 20 * ((100vw - 1920px) / 1280));
}

.prestamo #boton-falso-prestamo2:hover ~ #bnv-hover {
    display: block;
}
.prestamo #boton-falso-prestamo2:hover ~ #bnv-3 {
    display: none;
}

.prestamo #boton-falso-prestamo3 {
    width: max(300px, 29vw);
    left: calc(155px + 110 * ((100vw - 1920px) / 1280));
    bottom: calc(40px + 40 * ((100vw - 1920px) / 1280));
}
.prestamo #boton-falso-prestamo3-1 {
    width: max(300px, 29vw);
    left: calc(778px + 510 * ((100vw - 1920px) / 1280));
    bottom: calc(40px + 38 * ((100vw - 1920px) / 1280));
}

.prestamo #boton-falso-prestamo3:hover ~ #bnv-hover1 {
    display: block;
}
.prestamo #boton-falso-prestamo3:hover ~ #bnv-3 {
    display: none;
}
.prestamo #boton-falso-prestamo3-1:hover ~ #bnv-hover2 {
    display: block;
}
.prestamo #boton-falso-prestamo3-1:hover ~ #bnv-3 {
    display: none;
}

.prestamo #boton-falso-prestamo4 {
    width: max(300px, 24vw);
    right: calc(10px + 0 * ((100vw - 1920px) / 1280));
    bottom: calc(53px + 40 * ((100vw - 1920px) / 1280));
}

.prestamo #boton-falso-prestamo4:hover ~ #bnv-hover {
    display: block;
}
.prestamo #boton-falso-prestamo4:hover ~ #bnv-3 {
    display: none;
}

.prestamo #boton-falso-prestamo5 {
    right: calc(10px + 0 * ((100vw - 1920px) / 1280));
    bottom: calc(174px + 111 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.prestamo #boton-falso-prestamo5:hover ~ #bnv-hover1 {
    display: block;
}
.prestamo #boton-falso-prestamo5:hover ~ #bnv-3 {
    display: none;
}

.prestamo #boton-falso-prestamo5-1 {
    right: calc(10px + 0 * ((100vw - 1920px) / 1280));
    bottom: calc(67px + 50 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.prestamo #boton-falso-prestamo5-1:hover ~ #bnv-hover2 {
    display: block;
}
.prestamo #boton-falso-prestamo5-1:hover ~ #bnv-3 {
    display: none;
}

.seguros #boton-falso-seguros4 {
    right: calc(30px + 40 * ((100vw - 1920px) / 1280));
    bottom: calc(124px + 202 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.seguros #boton-falso-seguros4:hover ~ #bnv-hover1 {
    display: block;
}
.seguros #boton-falso-seguros4:hover ~ #bnv-4 {
    display: none;
}

.seguros #boton-falso-seguros4-1 {
    right: calc(28px + 40 * ((100vw - 1920px) / 1280));
    bottom: calc(27px + 50 * ((100vw - 1920px) / 1280));
    height: max(50px, 5vw);
}

.seguros #boton-falso-seguros4-1:hover ~ #bnv-hover2 {
    display: block;
}
.seguros #boton-falso-seguros4-1:hover ~ #bnv-4 {
    display: none;
}

img,
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    margin: auto;
}

/* map area::before {
		content: '';
		position: relative;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		box-shadow: 0px 0px 1px 1px #0000001a;
	  } */

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
